/** @format */


.resultSection {
    margin: calc(5vh - 64px) auto 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--shadowElevation_4);

    width: 90%;
    height: 90vh;
    padding: 0px !important;
}

.resultSectionHeader {
    width: 100%;
    background-color: var(--bg-color-20);
    display: flex;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-bottom: 1px solid var(--bg-color-40);
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
}

.resultSectionHeaderControls {
    display: flex;
    gap: 8px;
}

.resultSectionContent {
    height: 100%;
    width: 100%;
    padding: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 32px;
    overflow: auto;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.resultSectionContentCard {
    padding: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    overflow: auto;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}