/** @format */

.uploadSection {
    margin: calc(5vh - 64px) auto 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--shadowElevation_4);

    width: 90%;
    height: 90vh;
    padding: 0px !important;
}

.uploadSectionHeader {
    width: 100%;
    background-color: var(--bg-color-20);
    display: flex;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-bottom: 1px solid var(--bg-color-40);
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
}

.uploadSectionHeaderTitleWrapper {
    display: flex;
    gap: 1.5ch;
}

.uploadSectionHeaderModeWrapper {
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-color-60);
}

.uploadSectionHeaderModeWrapper > button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.uploadSectionHeaderModeWrapper > button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.uploadSectionHeaderModeWrapper > button:disabled {
    background: var(--bg-color-10);
    box-shadow: inset var(--shadowElevation_1);
    cursor: default;
}

.uploadSectionHeaderModeWrapper > button:disabled:hover {
    outline-color: var(--bg-color-30);
}

.uploadSectionHeaderControls {
    display: flex;
    gap: 8px;
}

.uploadSectionContent {
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.uploadSectionLoadingContent {
    height: 100%;
    width: 100%;
    padding: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}