/** @format */

.center {
    justify-content: center;
}

.split {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.personCell {
    flex-grow: 1;
}

.personHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.personName {
    background-color: transparent;
    border: none;
    font-size: x-large;
    max-width: 10ch;
}

.fancyButton {
    padding: 4px 8px;
    margin: 0 8px;
    background-color: var(--bg-color-25);
    border: 1px solid var(--bg-color-50);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow:
        0 0 0 1px hsla(0, 0%, 0%, .6),
        0 2px 3px hsla(0, 0%, 0%, .6);
    transition: background-color 200ms ease, border-color 200ms ease, box-shadow 200ms ease;
}

.fancyButton:hover {
    background-color: var(--bg-color-30);
    border-color: var(--bg-color-70);
    box-shadow:
        0 0 0 1px hsla(0, 0%, 0%, .6),
        0 2px 3px hsla(0, 0%, 0%, .6),
        0 4px 3px hsla(0, 0%, 0%, .4);
}

.personTable {
    border-spacing: 0px;
    margin-top: 32px;
    margin-bottom: 64px;
    width: 100%;
    border: 1px solid var(--bg-color-25);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.personAddItemWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 32px;
    margin-bottom: 32px;
}

.personAddItemWrapper button {
    padding: 4px 8px;
    background-color: var(--bg-color-25);
    border: 1px solid var(--bg-color-50);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow:
        0 0 0 1px hsla(0, 0%, 0%, .6),
        0 2px 3px hsla(0, 0%, 0%, .6);
    transition: background-color 200ms ease, border-color 200ms ease, box-shadow 200ms ease;
}

.personAddItemWrapper button:hover {
    background-color: var(--bg-color-30);
    border-color: var(--bg-color-70);
    box-shadow:
        0 0 0 1px hsla(0, 0%, 0%, .6),
        0 2px 3px hsla(0, 0%, 0%, .6),
        0 4px 3px hsla(0, 0%, 0%, .4);
}

.personAddItemWrapper input[type='text'],
.personAddItemWrapper input[type='number'] {
    appearance: none;
    padding: 0 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted var(--bg-color-70);
    transition: border 200ms ease;
}

.personAddItemWrapper input[type='text']:is(:hover, :focus-visible),
.personAddItemWrapper input[type='number']:is(:hover, :focus-visible) {
    outline: none;
    border-bottom-color: var(--bg-color-90);
}

.personAddItemWrapper > *:nth-child(1) {
    width: 25ch;
}

.personAddItemWrapper > *:nth-child(2) {
    width: 8ch;
}

.personAddItemWrapper > *:nth-child(3) {
    width: 8ch;
}


.personTable th {
    border-bottom: 1px solid var(--bg-color-90);
    font-size: large;
    padding: 12px 4px;
}

.personTable td {
    border-bottom: 1px solid var(--bg-color-40);
    padding: 8px 4px;
    text-align: center;
}

.personTable :is(td, th):nth-child(1) {
    max-width: 20ch;
}

.personTable :is(td, th):nth-child(4) {
    background-color: hsla(0, 50%, 50%, 0.253);
}

.personTable :is(td, th):nth-child(4) input:checked::after {
    background-color: hsla(0, 50%, 50%, 1) !important;
}

.personTable :is(td, th):nth-child(6) {
    background-color: hsla(56, 50%, 50%, 0.253);
}

.personTable :is(td, th):nth-child(6) input:checked::after {
    background-color: hsla(56, 50%, 50%, 1) !important;
}

.personTable :is(td, th):nth-child(5) {
    background-color: hsla(118, 50%, 50%, 0.253);
}

.personTable :is(td, th):nth-child(5) input:checked::after {
    background-color: hsla(118, 50%, 50%, 1) !important;
}

.personTable td div {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.personTable td input[type='radio'] {
    background-color: var(--bg-color-25);
    border-radius: 10px;
    outline: 1px solid var(--bg-color-80);
    box-shadow:
        0 0 0 1px hsla(0, 0%, 0%, .6),
        0 2px 3px hsla(0, 0%, 0%, .6);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: relative;
    width: 15px;
    appearance: none;
    transition: background-color 200ms ease, outline-color 200ms ease, box-shadow 200ms ease;
}

.personTable td input[type='radio']:checked {
    cursor: default;
}

.personTable td input[type='radio']:not(:checked):hover {
    background-color: var(--bg-color-30);
    outline-color: var(--bg-color-90);
    box-shadow:
        0 0 0 1px hsla(0, 0%, 0%, .6),
        0 2px 3px hsla(0, 0%, 0%, .6),
        0 4px 3px hsla(0, 0%, 0%, .4);
}

.personTable td input[type='radio']:disabled {
    display: none;
}

.personTable td input[type='radio']:after {
    background-color: var(--bg-color-25);
    border-radius: 25px;
    content: '';
    display: block;
    height: 11px;
    left: 2px;
    position: relative;
    top: 2px;
    width: 11px;
    transition: background-color 200ms ease;
}

.personTable td input[type='radio']:checked:after {
    background-color: var(--color-accent-10);
}

td.personTableCellHeader {
    padding: 10px 5px !important;
    font-weight: bold;
    border-bottom-color: var(--bg-color-70);
}

.personTableSum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 8px;
    margin-bottom: 8px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}



/* Mobile */
@media (max-width: 650px) {
    .personCell {
        font-size: small;
    }

    .personTable th {
        font-size: small;
    }

    .personTable td input[type='radio'] {
        border-radius: 10px;
        height: 10px;
        width: 10px;
    }

    .personTable td input[type='radio']:after {
        border-radius: 15px;
        height: 6px;
        left: 2px;
        top: 2px;
        width: 6px;
    }

    .personHeader button {
        padding: 4px 4px;
        font-size: small;
    }

}

@media (max-width: 550px) {
    .personCell {
        font-size: x-small;
    }

    .personTable th {
        font-size: smaller;
    }

    .personTable td {
        padding: 6px 3px;
    }

    .personHeader button {
        padding: 3px 3px;
        font-size: 0.5rem;
    }
}

@media (max-width: 400px) {

    .personTable td div {
        max-width: 100px;
    }
}

@media (max-width: 300px) {

    .personTable td div {
        max-width: 80px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}