/** @format */

.center {
    justify-content: center;
}

.split {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
}

.personHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 24px;
}

.personTable {
    border-spacing: 0px;
}

.personTable th {
    border-bottom: 1px solid var(--bg-color-70);
    padding: 12px 4px;
}

.personTable td {
    border-bottom: 1px solid var(--bg-color-40);
    padding: 8px 4px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.personTableSum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 8px;
    margin-bottom: 8px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}



/* Mobile */
@media (max-width: 820px) {}

@media (max-width: 800px) {}

@media (max-width: 720px) {}

@media (max-width: 620px) {}

@media (max-width: 520px) {}

@media (max-width: 470px) {}

@media (max-width: 376px) {}

@media (max-width: 1000px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}