.personTableHorizontalSplit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.personTableSplitHeader {
    font-weight: bold;
    text-align: center;
}

.personTableSplit {
    flex-grow: 1;
}

.personTableSplit:first-child > .personTableSum {
    border-right: 1px solid var(--bg-color-50);
}


.personTableSum {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    padding: 8px 0;
    width: 100%;
}

.personTableSum div:first-child {
    word-break: normal;
    line-break: normal;
    max-width: 80%;
}

.personTableSum div {
    padding: 0 8px;
}